workflows/cargar_RAG.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -688,
        -176
      ],
      "id": "93bbee61-2778-4afb-a646-382d9a79ac81",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// \n\n// -----------------------------------------------------------------\n// ⬇️ PEGA TU ÚNICO REPORTE JSON AQUÍ ⬇️\n// Reemplaza este contenido con tu reporte de Análisis\n// O con tu reporte de Gastronomía.\n// -----------------------------------------------------------------\nconst reporteJSON = [\n  {\n  \"analisis_categorias\": [\n    {\n      \"categoria_general\": \"Ecoaventura y Geoturismo\",\n      \"analisis_general\": \"La categoría de Ecoaventura está dominada por un activo central de alta calidad (el Parque de Aventura Barrancas del Cobre) y un clúster de activos geográficos satélite en la región de Creel.\",\n      \"segmentos\": [\n        {\n          \"nombre_segmento\": \"Activo Central: Parque de Aventura Barrancas del Cobre\",\n          \"descripcion_segmento\": \"Este es el activo de datos más completo en toda la investigación, sirviendo como un modelo para la ingesta de datos. Siguiendo la estrategia de aplanamiento jerárquico, las actividades dentro del parque deben ser tratadas como POIs individuales, ya que tienen costos, horarios y requisitos distintos.\",\n          \"pois\": [\n            {\n              \"tipo_poi\": \"Macro-POI\",\n              \"nombre_atraccion\": \"Parque de Aventura Barrancas del Cobre\",\n              \"categoria\": \"Ecoaventura\",\n              \"ubicacion\": \"Barrancas del Cobre (Estación Divisadero)\",\n              \"descripcion_guia\": \"Un parque de montaña que agrupa un conjunto de actividades de aventura y miradores. \\\"Se puede llegar desde Creel tomando un camión al Divisadero, un viaje de aproximadamente 2 horas\\\".\",\n              \"datos_utiles\": \"Abre sus puertas a partir de las 9 am hasta las 5 pm todos los días. El acceso al parque tiene un costo adicional de $25 MXN por persona, que se paga en caseta.\",\n              \"opinion_destacada\": null\n            },\n            {\n              \"tipo_poi\": \"Micro-POI\",\n              \"nombre_atraccion\": \"Ziprider (Parque Aventura Barrancas del Cobre)\",\n              \"categoria\": \"Ecoaventura\",\n              \"ubicacion\": \"Parque Aventura Barrancas del Cobre\",\n              \"descripcion_guia\": \"Consiste en un paseo en una tirolesa con una longitud de 2,538 metros, considerada la más larga del mundo. El recorrido se realiza en un arnés tipo silla... alcanzando velocidades de 80 a 135 kilómetros por hora.\",\n              \"datos_utiles\": \"Costo: $1000 MXN por persona. Horarios: 09:30 am a 03:40 pm. Duración: 1 hora (incluye 2 min en cable, 35 min de caminata). Requerimientos: Peso: 45 kg – 99 kg, Altura: 1.60 m – 1.90 m.\",\n              \"opinion_destacada\": \"me aventé y sentí que el mundo era mío... el miedo que sentía al estar justo en la salida de la tirolesa, era tan grande que quería arrepentirme, pero ya era tarde, y uff nomas de acordarme se me pone la piel chinita.\"\n            },\n            {\n              \"tipo_poi\": \"Micro-POI\",\n              \"nombre_atraccion\": \"Circuito de Siete Tirolesas (Parque Aventura Barrancas del Cobre)\",\n              \"categoria\": \"Ecoaventura\",\n              \"ubicacion\": \"Parque Aventura Barrancas del Cobre\",\n              \"descripcion_guia\": \"Es un circuito de siete tirolesas con una longitud total de casi 5 kilómetros, dividido en siete saltos, e incluye dos puentes colgantes... Culmina con un salto de 700 metros que llega a la Mesa de Bacajipare.\",\n              \"datos_utiles\": \"Costo: $1000 MXN por persona. Horarios: 09:00 am a 02:30 pm. Duración: Requiere de dos a dos horas y media. Requerimientos: Peso mínimo 45 kg y máximo 118 kg, Altura mínima 1.50 m.\",\n              \"opinion_destacada\": null\n            },\n            {\n              \"tipo_poi\": \"Micro-POI\",\n              \"nombre_atraccion\": \"Vía Ferrata (Parque Aventura Barrancas del Cobre)\",\n              \"categoria\": \"Ecoaventura\",\n              \"ubicacion\": \"Parque Aventura Barrancas del Cobre\",\n              \"descripcion_guia\": \"Es una de las actividades más extremas. Consiste en un descenso de rappel de 48 metros de altura, cruce de cinco puentes colgantes con diferentes grados de dificultad, un ascenso de 450 metros de semi-escala... y un salto de Tarzán.\",\n              \"datos_utiles\": \"Costo: $600 MXN por persona. Horarios: 09:00 am a 03:00 pm. Duración: 1 hora y 45 minutos. Requerimientos: Se requiere buena condición física general y la capacidad de sostener el propio peso.\",\n              \"opinion_destacada\": null\n            },\n            {\n              \"tipo_poi\": \"Micro-POI\",\n              \"nombre_atraccion\": \"Teleférico de Barrancas del Cobre\",\n              \"categoria\": \"Ecoaventura\",\n              \"ubicacion\": \"Parque Aventura Barrancas del Cobre\",\n              \"descripcion_guia\": \"Una actividad más accesible... El viaje se realiza en una cabina o góndola con capacidad para 60 pasajeros... Las cabinas llegan a la estación en la Mesa de Bacajipare, ofreciendo vistas panorámicas de la unión de las barrancas: Cobre, Tararecua y Urique.\",\n              \"datos_utiles\": \"Costo: $250 MXN por persona. Horarios: 09:00 am a 04:30 pm. Duración: 45 minutos (ida y vuelta). Requerimientos: Todas las edades.\",\n              \"opinion_destacada\": null\n            }\n          ]\n        },\n        {\n          \"nombre_segmento\": \"Activos Satélite (Región Creel)\",\n          \"descripcion_segmento\": \"La investigación identifica varios puntos geoturísticos clave cerca del Pueblo Mágico de Creel, a menudo agrupados en tours.\",\n          \"pois\": [\n            {\n              \"tipo_poi\": \"POI\",\n              \"nombre_atraccion\": \"Lago de Arareko\",\n              \"categoria\": \"Ecoaventura\",\n              \"ubicacion\": \"Creel (Sierra Tarahumara)\",\n              \"descripcion_guia\": \"Breve paseo por este hermoso lago rodeado de bosques de pino y formaciones rocosas.\",\n              \"datos_utiles\": \"Accesibles por tours en auto o caballo desde Creel.\",\n              \"opinion_destacada\": null\n            },\n            {\n              \"tipo_poi\": \"POI\",\n              \"nombre_atraccion\": \"Valle de los Monjes\",\n              \"categoria\": \"Ecoaventura\",\n              \"ubicacion\": \"Creel (Sierra Tarahumara)\",\n              \"descripcion_guia\": \"se le conoce como valle de los monjes porque aquí van a encontrar unas piedras gigantescas de más o menos entre 25 a 35 m de altura... y son espectaculares y además si le ponemos imaginación pues la silueta pareciera que son como unos monjes.\",\n              \"datos_utiles\": \"Accesibles por tours en auto o caballo desde Creel.\",\n              \"opinion_destacada\": null\n            },\n            {\n              \"tipo_poi\": \"POI\",\n              \"nombre_atraccion\": \"Cascada de Cusarare\",\n              \"categoria\": \"Ecoaventura\",\n              \"ubicacion\": \"Creel (Sierra Tarahumara)\",\n              \"descripcion_guia\": \"Una cascada en la Sierra Tarahumara, accesible desde Creel y asociada a la Misión Jesuita de Cusarare.\",\n              \"datos_utiles\": \"No disponible (requiere investigación adicional).\",\n              \"opinion_destacada\": null\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"categoria_general\": \"Activos Históricos y Patrimonio Cultural\",\n      \"analisis_general\": \"Esta categoría es robusta y se divide en tres segmentos con niveles variables de completitud de datos: el corredor de museos (alto), los sitios arqueológicos (medio) y la ruta de las misiones (bajo).\",\n      \"segmentos\": [\n        {\n          \"nombre_segmento\": \"Segmento 1: El Corredor Museográfico (Ajuste de Esquema: Alto)\",\n          \"descripcion_segmento\": \"Este es el segundo clúster de datos más fuerte. Las fuentes de Nivel 1 y 2 proporcionan una base sólida para la ingesta. La fuente del Sistema de Información Cultural (SIC) por sí sola proporciona una lista base de 59 museos en todo el estado, que puede servir como una hoja de ruta para la expansión del dataset.\",\n          \"pois\": [\n            {\n              \"tipo_poi\": \"POI\",\n              \"nombre_atraccion\": \"Museo Histórico de la Revolución (Quinta Luz)\",\n              \"categoria\": \"Histórico\",\n              \"ubicacion\": \"Chihuahua (Col. Santa Rosa)\",\n              \"descripcion_guia\": \"Residencia del General Francisco Pancho Villa, que fungió como vivienda y cuartel general del revolucionario. Conocida como Quinta Luz (por su esposa Luz Corral), exhibe una amplia colección de fotografías, documentos, armas, vehículos (incluyendo el automóvil en que fue asesinado Villa)).\",\n              \"datos_utiles\": \"Horario: Martes a sábado de 09:00 a 13:00 y de 15:00 a 19:00; Domingo de 09:00 a 16:00; Lunes cerrado. Precio de entrada: $ 60 MXN.\",\n              \"opinion_destacada\": null\n            },\n            {\n              \"tipo_poi\": \"POI\",\n              \"nombre_atraccion\": \"Casa Chihuahua Centro de Patrimonio Cultural\",\n              \"categoria\": \"Histórico\",\n              \"ubicacion\": \"Chihuahua (Centro, C. Libertad 901)\",\n              \"descripcion_guia\": \"Es un museo ubicado en el edificio del ex Palacio Federal... Su misión es difundir el patrimonio histórico, arqueológico, etnográfico... Cuenta con un Museo de Sitio, que narra la historia del edificio y alberga el lugar donde estuvo prisionero Don Miguel Hidalgo.\",\n              \"datos_utiles\": \"Horarios: Miércoles a lunes de 9:00 a 18:00 h. Costos de Admisión: Entrada general $50. Descuento del 50% para estudiantes, maestros, tercera edad. Domingos entrada libre.\",\n              \"opinion_destacada\": null\n            },\n            {\n              \"tipo_poi\": \"POI\",\n              \"nombre_atraccion\": \"Centro Cultural Quinta Gameros\",\n              \"categoria\": \"Histórico\",\n              \"ubicacion\": \"Chihuahua (Centro, Av. Paseo Bolívar 401)\",\n              \"descripcion_guia\": \"Es un museo situado en una mansión opulenta construida en 1907, con una arquitectura de estilo francés y muebles art nouveau. Está considerado uno de los puntos emblemáticos de la ciudad, destacando por su belleza, detalles simétricos.\",\n              \"datos_utiles\": \"No disponible.\",\n              \"opinion_destacada\": null\n            },\n            {\n              \"tipo_poi\": \"POI\",\n              \"nombre_atraccion\": \"Museo de las Culturas del Norte (Paquimé)\",\n              \"categoria\": \"Histórico\",\n              \"ubicacion\": \"Casas Grandes (Zona Arqueológica Paquimé)\",\n              \"descripcion_guia\": \"La arquitectura de este museo... está inspirada en el montículo ceremonial de Paquimé... Cuenta con tres salas de exposición permanente. Sala 2 se abordan las actividades cotidianas de la cultura Paquimé, tales como la elaboración de cerámica, joyería con concha y caracol.\",\n              \"datos_utiles\": \"No disponible.\",\n              \"opinion_destacada\": null\n            },\n            {\n              \"tipo_poi\": \"POI\",\n              \"nombre_atraccion\": \"Museo del Desierto Chihuahuense (MUDECH)\",\n              \"categoria\": \"Histórico\",\n              \"ubicacion\": \"Delicias\",\n              \"descripcion_guia\": \"Cuenta con cuatro salas de exhibición permanente... Sala 2: La Era del Hielo... se aborda la historia regional desde la edad glacial... la llegada del hombre a América... y la convivencia de los humanos con la extinción de la megafauna: mamuts, gonfoterios, tigres dientes de sable.\",\n              \"datos_utiles\": \"Horarios de Invierno: Martes a viernes de 9 a 16 h. Sábado y domingo de 10 a 17 h. Horarios de Verano: Sáb y dom de 11 a 18 h. Costos: Entrada general $30. Niños, estudiantes, maestros y adultos mayores $15.\",\n              \"opinion_destacada\": null\n            }\n          ]\n        },\n        {\n          \"nombre_segmento\": \"Segmento 2: Sitios Arqueológicos\",\n          \"descripcion_segmento\": null,\n          \"pois\": [\n            {\n              \"tipo_poi\": \"POI\",\n              \"nombre_atraccion\": \"Zona Arqueológica de Paquimé\",\n              \"categoria\": \"Histórico\",\n              \"ubicacion\": \"Casas Grandes\",\n              \"descripcion_guia\": \"La grandeza de la zona arqueológica de Paquimé, en Casas Grandes... La Zona de Monumentos Arqueológicos de Paquimé fue incluida en la lista del Patrimonio de la Humanidad de la UNESCO. Es el sitio asociado al Museo de las Culturas del Norte.\",\n              \"datos_utiles\": \"No disponible.\",\n              \"opinion_destacada\": null\n            }\n          ]\n        },\n        {\n          \"nombre_segmento\": \"Segmento 3: La Ruta de las Misiones (La Brecha de Datos)\",\n          \"descripcion_segmento\": \"Este segmento ejemplifica una brecha de datos crítica. La investigación proporciona una lista extensa de POIs (ej. \\\"Misión de San Francisco Javier de Temósachi\\\" en \\\"Temósachi\\\"; \\\"Misión de Cerocahui\\\" en \\\"Urique\\\"; \\\"Templo de San Mateo\\\" en \\\"El Tule\\\"). Esta lista es excelente para poblar los campos nombre_atraccion y ubicacion_general para más de 20 POIs. Sin embargo, estas fuentes no proporcionan la descripcion_guia (¿qué arquitectura tiene? ¿cuál es su historia? ¿sigue en uso?) ni los datos_utiles (¿se puede visitar? ¿horarios? ¿costo?). Por lo tanto, esta lista debe ser tratada como una base para una segunda fase de investigación focalizada. La única excepción encontrada es la Misión de San Ignacio de Arareko, que cuenta con datos descriptivos de múltiples fuentes.\",\n          \"pois\": [\n            {\n              \"tipo_poi\": \"POI (Excepción)\",\n              \"nombre_atraccion\": \"Misión de San Ignacio de Arareko\",\n              \"categoria\": \"Histórico\",\n              \"ubicacion\": \"San Ignacio Arareko (cerca de Creel)\",\n              \"descripcion_guia\": \"En el ejido San Ignacio de Arareko se encuentra esta misión jesuita del siglo XVIII. El templo de tierra caliza cuenta con una sencilla decoración que exhibe elementos originales como vasijas y platos... un sitio... donde se pueden aprender sobre la historia de la evangelización en la región y la cultura Rarámuri.\",\n              \"datos_utiles\": \"Toma un tour guiado para conocer a detalle la historia del lugar y su trascendencia. (Costos y horarios específicos no disponibles).\",\n              \"opinion_destacada\": null\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"categoria_general\": \"Activos Gastronómicos y Rutas Temáticas\",\n      \"analisis_general\": \"La categoría de Gastronomía requiere un enfoque analítico de tres vertientes para superar la escasez de datos objetivos: (1) Rutas Macro, (2) Establecimientos Individuales, y (3) POIs Conceptuales (Platillos).\",\n      \"segmentos\": [\n        {\n          \"nombre_segmento\": \"Segmento 1: Rutas Macro (Ajuste Conceptual Alto)\",\n          \"descripcion_segmento\": \"Las fuentes oficiales proporcionan datos de alta calidad para dos rutas temáticas que funcionan como POIs \\\"Macro-Experiencia\\\" ideales.\",\n          \"pois\": [\n            {\n              \"tipo_poi\": \"POI (Ruta Macro)\",\n              \"nombre_atraccion\": \"Ruta del Vino de Chihuahua\",\n              \"categoria\": \"Gastronomía\",\n              \"ubicacion\": \"Chihuahua, Santa Isabel, Cuauhtémoc, Guerrero, Namiquipa, Casas Grandes, Cerocahui\",\n              \"descripcion_guia\": \"Nuevas opciones para diversificar la oferta turística, a través de recorridos guiados en los que se podrán apreciar los paisajes naturales, así como los patrimonios históricos y culturales... La entidad es la cuarta productora de vino en el país y ha obtenido más de 60 medallas a nivel internacional.\",\n              \"datos_utiles\": \"El recorrido será guiado por tour operadoras y/o agencias de viajes.\",\n              \"opinion_destacada\": null\n            },\n            {\n              \"tipo_poi\": \"POI (Ruta Macro)\",\n              \"nombre_atraccion\": \"Ruta del Sotol\",\n              \"categoria\": \"Gastronomía\",\n              \"ubicacion\": \"Aldama, Casas Grandes, Juárez, Samalayuca, Janos\",\n              \"descripcion_guia\": \"Recorridos guiados para apreciar paisajes y patrimonio... Los objetivos principales... son: revalorar el arraigo y orgullo de la población local, generar impacto económico, fomentar el consumo local y proyectar a Chihuahua y sus productos icónicos.\",\n              \"datos_utiles\": \"El recorrido será guiado por tour operadoras y/o agencias de viajes.\",\n              \"opinion_destacada\": null\n            }\n          ]\n        },\n        {\n          \"nombre_segmento\": \"Segmento 2: Establecimientos Individuales (La Brecha de Objetividad)\",\n          \"descripcion_segmento\": \"Los datos para restaurantes específicos son abundantes pero problemáticos. Las fuentes de Nivel 3 (agregadores, blogs) están sobresaturadas de opinion_destacada y carecen de descripcion_guia objetiva (requerida por la solicitud: \\\"Datos, no publicidad\\\"). Por ejemplo, en , la descripción de \\\"Los Mezquites\\\" es \\\"Sabroso, hacen la salsa en tu mesa\\\", lo cual es una opinión, no una guía objetiva. El equipo de ingesta debe ser instruido para extraer y separar esta información.\",\n          \"pois\": [\n            {\n              \"tipo_poi\": \"POI (Establecimiento)\",\n              \"nombre_atraccion\": \"Restaurante La Casona\",\n              \"categoria\": \"Gastronomía\",\n              \"ubicacion\": \"Chihuahua (Zona Centro)\",\n              \"descripcion_guia\": \"Es un establecimiento elegante con un área de comedor lujosamente decorada que ofrece tanto suculentos filetes como auténticos platillos mexicanos... se encuentra en un hermoso edificio que solía ser un museo.\",\n              \"datos_utiles\": \"No disponible (requiere investigación adicional).\",\n              \"opinion_destacada\": null\n            },\n            {\n              \"tipo_poi\": \"POI (Establecimiento)\",\n              \"nombre_atraccion\": \"Restaurante El Tarahumara\",\n              \"categoria\": \"Gastronomía\",\n              \"ubicacion\": \"Creel, Chihuahua\",\n              \"descripcion_guia\": \"Restaurante familiar que ofrece auténtica cocina tarahumara en un ambiente acogedor.\",\n              \"datos_utiles\": \"Especialidades: Sopa Tarahumara, Tamales de elote, Café de olla.\",\n              \"opinion_destacada\": null\n            },\n            {\n              \"tipo_poi\": \"POI (Establecimiento)\",\n              \"nombre_atraccion\": \"Quesería Menonita (Cuauhtémoc)\",\n              \"categoria\": \"Gastronomía\",\n              \"ubicacion\": \"Cuauhtémoc, Chihuahua\",\n              \"descripcion_guia\": \"Quesería tradicional donde puedes comprar quesos artesanales y ver el proceso de elaboración. Lo que más fama ha dado son los productos peculios de los campos menonitas ha sido su queso y otros lácteos como mantequilla y crema. Este queso menonita, también llamado queso Chihuahua, ha logrado un lugar importante en el consumo nacional.\",\n              \"datos_utiles\": \"Especialidades: Queso menonita, Queso añejo, Mantequilla casera.\",\n              \"opinion_destacada\": null\n            }\n          ]\n        },\n        {\n          \"nombre_segmento\": \"Segmento 3: POIs Conceptuales (Platillos Típicos)\",\n          \"descripcion_segmento\": \"Para enriquecer la categoría de Gastronomía y alcanzar la meta de 500 POIs, es estratégico tratar los platillos regionales icónicos como POIs. Las fuentes y proporcionan datos excelentes para este enfoque.\",\n          \"pois\": [\n            {\n              \"tipo_poi\": \"POI (Conceptual)\",\n              \"nombre_atraccion\": \"Sopa Tarahumara\",\n              \"categoria\": \"Gastronomía\",\n              \"ubicacion\": \"Sierra Tarahumara (Restaurantes locales, comunidades)\",\n              \"descripcion_guia\": \"Sopa tradicional de la comunidad tarahumara con hierbas locales. Ingredientes principales: Caldo de pollo, Hierbas silvestres, Verduras, Chile.\",\n              \"datos_utiles\": \"Precio Aprox: $80 - $120 MXN. Dónde encontrarlo: Comunidades tarahumaras, restaurantes locales.\",\n              \"opinion_destacada\": null\n            },\n            {\n              \"tipo_poi\": \"POI (Conceptual)\",\n              \"nombre_atraccion\": \"Tamales de Elote\",\n              \"categoria\": \"Gastronomía\",\n              \"ubicacion\": \"Sierra Tarahumara (Mercados, vendedores ambulantes)\",\n              \"descripcion_guia\": \"Tamales dulces hechos con maíz tierno, típicos de la región. Ingredientes principales: Elote tierno, Mantequilla, Azúcar, Hojas de maíz.\",\n              \"datos_utiles\": \"Precio Aprox: $15 - $25 MXN c/u. Dónde encontrarlo: Mercados, vendedores ambulantes.\",\n              \"opinion_destacada\": null\n            },\n            {\n              \"tipo_poi\": \"POI (Conceptual)\",\n              \"nombre_atraccion\": \"Burritos de Villa Ahumada\",\n              \"categoria\": \"Gastronomía\",\n              \"ubicacion\": \"Villa Ahumada\",\n              \"descripcion_guia\": \"En este merendero carretero comerás rico y es muy económico. Pide un 'burrito montado' que llevan queso asadero, además del guisado que puede ser de res con papas y chile rojo o la versión en verde, de frijol, de chicharrón.\",\n              \"datos_utiles\": \"Ubicación: carretera Panamericana (federal 45).\",\n              \"opinion_destacada\": null\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"categoria_general\": \"Activos de Experiencias Únicas e Inmersión Cultural\",\n      \"analisis_general\": \"Esta categoría contiene los activos de mayor valor de marca para Chihuahua. El análisis del ecosistema del Tren Chepe y la cadena de valor de la inmersión cultural Rarámuri es fundamental.\",\n      \"segmentos\": [\n        {\n          \"nombre_segmento\": \"Segmento 1: El Ecosistema del Tren Chepe (Ajuste de Esquema: Alto)\",\n          \"descripcion_segmento\": \"Las fuentes y (del sitio oficial chepe.mx) describen un ecosistema complejo que debe ser desglosado aplicando la estrategia de aplanamiento jerárquico.\",\n          \"pois\": [\n            {\n              \"tipo_poi\": \"Macro-POI\",\n              \"nombre_atraccion\": \"Viaje en el Tren Chepe Express\",\n              \"categoria\": \"Experiencias Únicas\",\n              \"ubicacion\": \"Ruta Los Mochis - Creel\",\n              \"descripcion_guia\": \"Ofrece un recorrido de 350 km y una duración aproximada de 9 horas... El viaje está lleno de paisajes únicos... Los grandes ventanales del ferrocarril son un atractivo importante, ya que permiten observar los diferentes túneles, sierras, ríos y maravillosos paisajes del trayecto.\",\n              \"datos_utiles\": \"Duración: 9 horas aprox. Clases: Primera Clase, Clase Ejecutiva, Clase Turista. Se recomienda viajar después de la temporada de lluvia (Agosto y Septiembre). Usar calzado cómodo.\",\n              \"opinion_destacada\": null\n            },\n            {\n              \"tipo_poi\": \"Micro-POI (A Bordo)\",\n              \"nombre_atraccion\": \"Restaurante Urike (a bordo del Chepe Express)\",\n              \"categoria\": \"Gastronomía\",\n              \"ubicacion\": \"Tren Chepe Express (Ruta Los Mochis - Creel)\",\n              \"descripcion_guia\": \"Ofrece un menú que representa los sabores únicos de la región. Acceso a la planta baja del restaurante Urike (Clase Ejecutiva).\",\n              \"datos_utiles\": \"No disponible (costos y horarios de servicio).\",\n              \"opinion_destacada\": null\n            },\n            {\n              \"tipo_poi\": \"Micro-POI (A Bordo)\",\n              \"nombre_atraccion\": \"Terraza (a bordo del Chepe Express)\",\n              \"categoria\": \"Experiencias Únicas\",\n              \"ubicacion\": \"Tren Chepe Express (Ruta Los Mochis - Creel)\",\n              \"descripcion_guia\": \"Dispone de ventanas abatibles, un área de descanso, y barra de snacks y bebidas.\",\n              \"datos_utiles\": \"No disponible.\",\n              \"opinion_destacada\": null\n            },\n            {\n              \"tipo_poi\": \"Micro-POI (Estación)\",\n              \"nombre_atraccion\": \"Estación Divisadero (Ruta Chepe)\",\n              \"categoria\": \"Experiencias Únicas\",\n              \"ubicacion\": \"Barrancas del Cobre\",\n              \"descripcion_guia\": \"Uno de los principales lugares para observar vistas panorámicas de las Barrancas del Cobre. Conecta directamente con el Parque Aventura Barrancas del Cobre para actividades como teleférico y tirolesa.\",\n              \"datos_utiles\": \"No disponible.\",\n              \"opinion_destacada\": null\n            },\n            {\n              \"tipo_poi\": \"Micro-POI (Estación)\",\n              \"nombre_atraccion\": \"Estación Bahuichivo (Ruta Chepe)\",\n              \"categoria\": \"Experiencias Únicas\",\n              \"ubicacion\": \"Sierra Tarahumara\",\n              \"descripcion_guia\": \"Conecta dos locaciones turísticas importantes de la Sierra Tarahumara: Cerocahui (Ideal para caminatas hacia la Cascada de Cerocahui y al mirador del Cerro del Gallego) y Urique.\",\n              \"datos_utiles\": \"No disponible.\",\n              \"opinion_destacada\": null\n            }\n          ]\n        },\n        {\n          \"nombre_segmento\": \"Segmento 2: Inmersión Cultural Rarámuri (La Cadena de Valor)\",\n          \"descripcion_segmento\": \"La investigación revela una \\\"escalera de inmersión\\\" en la cultura Rarámuri, que va desde la observación pasiva en museos hasta la participación activa en talleres comunitarios. El dataset debe capturar esta granularidad para ofrecer valor al usuario final.\",\n          \"pois\": [\n            {\n              \"tipo_poi\": \"POI (Nivel 1 Observación)\",\n              \"nombre_atraccion\": \"Museo Tarahumara de Arte Popular\",\n              \"categoria\": \"Histórico\",\n              \"ubicacion\": \"Bocoyna (Creel)\",\n              \"descripcion_guia\": \"Un museo en el Pueblo Mágico de Creel dedicado a la exhibición y preservación del arte popular de la cultura Tarahumara.\",\n              \"datos_utiles\": \"No disponible.\",\n              \"opinion_destacada\": null\n            },\n            {\n              \"tipo_poi\": \"POI (Nivel 2 Tour Guiado)\",\n              \"nombre_atraccion\": \"Experiencia Tarahumara (Hotel Mirador)\",\n              \"categoria\": \"Experiencias Únicas\",\n              \"ubicacion\": \"Barrancas del Cobre (cerca del Hotel Mirador)\",\n              \"descripcion_guia\": \"Consiste en una caminata guiada por un locatario Tarahumara... visitan la Cueva Tarahumara más cercana al Hotel Mirador que permite apreciar a los Rarámuris y sus formas de vida.\",\n              \"datos_utiles\": \"Tiene una duración de aproximadamente dos horas. Es importante que consultes con tu operador turístico cómo puedes realizar esta actividad.\",\n              \"opinion_destacada\": null\n            },\n            {\n              \"tipo_poi\": \"POI (Nivel 3 Turismo Comunitario)\",\n              \"nombre_atraccion\": \"Experiencias Rarámuri (Turismo Comunitario)\",\n              \"categoria\": \"Experiencias Únicas\",\n              \"ubicacion\": \"Comunidades de Bacajípare y Huetosachi, Urique\",\n              \"descripcion_guia\": \"Turismo de aventura y cultura desarrollado por dos comunidades rarámuri... para mejorar la calidad, el acceso y la comercialización de los productos turísticos... incluye 1 experiencia de cocina y artesanía local, 6 senderos diferentes, caminatas, y leyendas.\",\n              \"datos_utiles\": \"Información de contacto y ubicación de Google Maps disponible en la fuente.\",\n              \"opinion_destacada\": null\n            },\n            {\n              \"tipo_poi\": \"POI (Nivel 4 Taller)\",\n              \"nombre_atraccion\": \"Talleres de Artesanías Rarámuri\",\n              \"categoria\": \"Experiencias Únicas\",\n              \"ubicacion\": \"Creel (Comunidades)\",\n              \"descripcion_guia\": \"Vive la cultura rarámuri de primera mano... Aprende técnicas tradicionales de cestería, textiles y cerámica.\",\n              \"datos_utiles\": \"Respeto y Consideraciones Culturales: Pedir permiso antes de tomar fotografías; Respetar las ceremonias y rituales; Comprar artesanías directamente de los artesanos.\",\n              \"opinion_destacada\": null\n            }\n          ]\n        }\n      ]\n    }\n  ],\n  \"recomendaciones_estrategicas\": {\n    \"titulo\": \"Conclusión y Recomendaciones Estratégicas para la Construcción del Dataset\",\n    \"conclusion_general\": \"El material de investigación proporcionado es de alta calidad y suficiente para iniciar la construcción de un dataset robusto de 500 POIs, siempre que se adopten las estrategias analíticas delineadas en este informe. La calidad y completitud de los datos varían significativamente por categoría, lo que exige un enfoque de ingesta por fases y protocolos de datos específicos.\",\n    \"recomendaciones\": [\n      {\n        \"titulo\": \"Recomendación 1: Adoptar la Estrategia de Aplanamiento Jerárquico\",\n        \"descripcion\": \"Se debe instruir al equipo de ingesta de datos para que trate los \\\"Micro-POIs\\\" identificados como entradas de base de datos de primer nivel, no como meros atributos de un POI \\\"Macro\\\".\",\n        \"ejemplos\": [\n          \"Ejemplo 1 (Ecoaventura): \\\"Parque de Aventura\\\" es una entrada. \\\"ZipRider\\\" debe ser una segunda entrada, \\\"Vía Ferrata\\\" una tercera, y \\\"Teleférico\\\" una cuarta, cada una con sus datos_utiles (costo, requisitos) específicos.\",\n          \"Ejemplo 2 (Exp. Únicas): \\\"Viaje en el Tren Chepe Express\\\" es una entrada. \\\"Restaurante Urike\\\" debe ser una segunda entrada (categoría Gastronomía), y \\\"Estación Divisadero\\\" una tercera.\"\n        ],\n        \"conclusion_recomendacion\": \"Esta estrategia es el método principal para alcanzar la meta de 500 POIs de alta calidad.\"\n      },\n      {\n        \"titulo\": \"Recomendación 2: Aprobar la Ingesta de \\\"POIs Conceptuales\\\"\",\n        \"descripcion\": \"Para la categoría de Gastronomía, donde los datos de establecimientos individuales son débiles, se recomienda autorizar la creación de entradas para platillos típicos y productos.\",\n        \"ejemplos\": [\n          \"Ejemplo: Crear entradas para \\\"Sopa Tarahumara\\\", \\\"Burritos de Villa Ahumada\\\" y \\\"Queso Menonita\\\". Estas entradas se poblarán con descripcion_guia (ingredientes, historia) y datos_utiles (precio aproximado, dónde encontrarlo).\"\n        ],\n        \"conclusion_recomendacion\": null\n      },\n      {\n        \"titulo\": \"Recomendación 3: Implementar la Ingesta por Fases\",\n        \"descripcion\": \"El esfuerzo de ingesta de datos debe ser escalonado, priorizando los activos basados en su \\\"ajuste al esquema\\\".\",\n        \"fases\": [\n          {\n            \"fase\": \"Fase 1 (Ingesta Inmediata)\",\n            \"descripcion\": \"Procesar los clústeres de \\\"Ajuste Alto\\\".\",\n            \"detalles\": [\n              \"Ecoaventura: Parque de Aventura y todas sus micro-actividades.\",\n              \"Histórico: Los principales museos con datos completos (Quinta Luz, Casa Chihuahua, MUDECH, Culturas del Norte).\",\n              \"Exp. Únicas: El ecosistema Chepe (Viaje, Estaciones, Servicios a bordo) y la cadena de valor Rarámuri (Museo, Tours, Talleres).\"\n            ]\n          },\n          {\n            \"fase\": \"Fase 2 (Investigación y Verificación)\",\n            \"descripcion\": \"Procesar los clústeres de \\\"Ajuste Medio/Bajo\\\".\",\n            \"detalles\": [\n              \"Histórico (Misiones): Usar la lista de nombres y municipios de como una lista de tareas. Se requiere investigación adicional para encontrar descripcion_guia y datos_utiles para cada misión.\",\n              \"Gastronomía (Restaurantes): Usar las listas de. La tarea es buscar descripcion_guia objetivas en los sitios web oficiales de los restaurantes, separándolas de las opinion_destacada proporcionadas.\"\n            ]\n          }\n        ],\n        \"conclusion_recomendacion\": null\n      }\n    ]\n  }\n}\n];\n// -----------------------------------------------------------------\n// ⬆️ NO TOQUES NADA FUERA DE ESTA SECCIÓN ⬆️\n// -----------------------------------------------------------------\n\n\n// Pasamos el JSON crudo al siguiente nodo\nreturn [{\n  json: {\n    datosCrudos: reporteJSON\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        -176
      ],
      "id": "7c25894a-fc5e-4658-a86b-08d39540fd42",
      "name": "DatosCrudos"
    },
    {
      "parameters": {
        "jsCode": "// --- 1. RECIBIR DATOS DEL NODO ANTERIOR ---\nconst datosCrudos = $input.first().json.datosCrudos;\nconst allChunks = [];\n\nif (!Array.isArray(datosCrudos) || datosCrudos.length === 0) {\n  throw new Error(\"Error: El JSON pegado está vacío o no es un array.\");\n}\n\n// --- 2. FUNCIÓN \"CHUNKER\" REUTILIZABLE ---\nfunction processPoi(poi) {\n  const chunks = [];\n  \n  const baseMetadata = {\n    nombre_atraccion: poi.nombre_atraccion || \"Sin Nombre\",\n    categoria_primaria: poi.categoria || poi.categoria_primaria || \"General\",\n    ubicacion_general: poi.ubicacion || poi.ubicacion_general || \"Chihuahua\",\n    fuente_url: poi.fuente_url || \"Sin Fuente\"\n  };\n\n  // Chunk de Guía\n  if (poi.descripcion_guia && poi.descripcion_guia.trim().length > 10) {\n    chunks.push({\n      pageContent: poi.descripcion_guia.trim(),\n      metadata: { ...baseMetadata, tipo_chunk: \"Guia\" }\n    });\n  }\n\n  // Chunk de Opinión\n  if (poi.opinion_destacada && poi.opinion_destacada.trim().length > 10) {\n    chunks.push({\n      pageContent: poi.opinion_destacada.trim(),\n      metadata: { ...baseMetadata, tipo_chunk: \"Opinion\" }\n    });\n  }\n\n  // Chunk de Datos\n  if (poi.datos_utiles && poi.datos_utiles.trim().length > 10) {\n    chunks.push({\n      pageContent: poi.datos_utiles.trim(),\n      metadata: { ...baseMetadata, tipo_chunk: \"Datos\" }\n    });\n  }\n  \n  return chunks;\n}\n\n// --- 3. DETECCIÓN DEL TIPO DE ENTRADA ---\nconst primerElemento = datosCrudos[0];\n\nif (primerElemento.analisis_categorias) {\n  // CASO A: REPORTE DE ANÁLISIS\n  const categorias = primerElemento.analisis_categorias || [];\n  for (const categoria of categorias) {\n    const segmentos = categoria.segmentos || [];\n    for (const segmento of segmentos) {\n      const pois = segmento.pois || [];\n      for (const poi of pois) {\n        allChunks.push(...processPoi(poi));\n      }\n    }\n  }\n} else if (primerElemento.nombre_atraccion) {\n  // CASO B: ARRAY SIMPLE DE POIs\n  for (const poi of datosCrudos) {\n    allChunks.push(...processPoi(poi));\n  }\n} else {\n  throw new Error(\"Error: El formato del JSON pegado no se reconoce.\");\n}\n\n// --- 4. FORMATO FINAL PARA N8N + QDRANT ---\n// Cada item debe ser { json: { pageContent, metadata }}\nreturn allChunks.map(chunk => ({\n  JSON: {\n    pageContent: chunk.pageContent,\n    metadata: chunk.metadata\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        -176
      ],
      "id": "53435e37-e8bb-4b0b-9936-ad64ab94525e",
      "name": "Transformador"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "Data-Travel-collection",
          "mode": "list",
          "cachedResultName": "Data-Travel-collection"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -80,
        -192
      ],
      "id": "bf9575d8-9f74-4d7f-bd3a-7e67495a461d",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "0X1jJOuoteU6yKkU",
          "name": "Travel Qdrant"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        48
      ],
      "id": "8c07c051-81a2-442c-838b-bd3cf9cd950b",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "MJ59BvAixLXC3eJK",
          "name": "travel"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Transformador').item.json.JSON.pageContent }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "nombre_atraccion",
                "value": "={{ $('Transformador').item.json.JSON.metadata.nombre_atraccion }}"
              },
              {
                "name": "categoria_primaria",
                "value": "={{ $('Transformador').item.json.JSON.metadata.categoria_primaria }}"
              },
              {
                "name": "ubicacion_general",
                "value": "={{ $('Transformador').item.json.JSON.metadata.ubicacion_general }}"
              },
              {
                "name": "funete_url",
                "value": "={{ $('Transformador').item.json.JSON.metadata.fuente_url }}"
              },
              {
                "name": "tipo_chunk",
                "value": "={{ $('Transformador').item.json.JSON.metadata.tipo_chunk }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        192,
        48
      ],
      "id": "2d61cec5-7387-4a37-bbe0-8af288216fd0",
      "name": "Default Data Loader1"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "DatosCrudos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DatosCrudos": {
      "main": [
        [
          {
            "node": "Transformador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformador": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c48c4ed263e9b8664ac38c3593faf19e110787aa15259c88476a14a1d906ce56"
  }
}